<div class="container">
  <div>
  <h3><small>Name: </small><%= current_user.email %></h3>
  </div>
  <div>
<ol><h4>To Do Lists</h4>
  <li>Groceries</li>
  <li>Spring Cleaning</li>
</ol>
 </div>
</div>
